<section class="assets-section">
    <div class="assets-section-header">
        Assets Groups
    </div>
    <div class="group-plus">
        <img class="plus" src="../../../assets/plus.svg" (click)="addAssetsGroup()">
        <nav class="assets-group-div">
            <div *ngFor="let ag of assetsGroups" class="div-actions">
                <img src="../../assets/edit.svg" class="btn" (click)="editAssetsGroup(ag)">
                <div routerLink="group/{{ag.Id}}" class="div-itm">
                    <div class="left">{{ag.Label}}</div>
                    <div class="right"><img src="../../assets/rarrow.svg"></div>
                </div>
                <img src="../../assets/ltrash.svg" class="btn" (click)="deleteAssetsGroup(ag.Id)">
            </div>
        </nav>
    </div>
</section>